pkgbase = libjxl11-compat
	pkgdesc = JPEG XL 0.11 runtime ABI compatibility libraries
	pkgver = 0.11.2
	pkgrel = 2
	url = https://github.com/libjxl/libjxl
	arch = x86_64
	license = BSD-3-Clause
	depends = brotli
	depends = glibc
	depends = highway
	depends = libgcc
	depends = libstdc++
	provides = libjxl.so=0.11-64
	provides = libjxl_cms.so=0.11-64
	provides = libjxl_threads.so=0.11-64
	options = !strip
	options = !debug
	source_x86_64 = libjxl-0.11.2-2-x86_64.pkg.tar.zst::https://archive.archlinux.org/packages/l/libjxl/libjxl-0.11.2-2-x86_64.pkg.tar.zst
	sha256sums_x86_64 = 5ec33fea9a792f0b69e8c06a61b63df1a4f1d2ba0b3d272308aedde693af4af4

pkgname = libjxl11-compat
