pkgbase = chatbox-bin
	pkgdesc = User-friendly Desktop Client App for AI Models/LLMs (GPT, Claude, Gemini, Ollama...)
	pkgver = 1.15.0
	pkgrel = 1
	url = https://chatboxai.app
	arch = x86_64
	license = custom
	depends = fuse2
	provides = chatbox-bin
	conflicts = chatbox-appimage
	conflicts = chatbox-git
	noextract = Chatbox-1.15.0-x86_64.AppImage
	options = !strip
	source = https://download.chatboxai.app/releases/Chatbox-1.15.0-x86_64.AppImage
	sha512sums = dcaebd63206c6afa1995a94ab5ad0cd121968e90c371e9b2ccf2a7e954650c744fa33e90fbac426842895e26b1e8584852cecd4d80dde2236d992925c27befa6

pkgname = chatbox-bin
